.cabecera {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.cabecera h1 {
    font-weight: bolder;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}


.menu  {
    display: flex;
    flex-direction: row;
    text-align: center;
}



.menu {
    clear: both;
    width: 100%;
    list-style: none;
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 1em;
    padding-bottom: 1em;
    margin: .2em;
}

.menu div {
    float: left;
}

.menu div a {
    padding: .3em;
    text-decoration: none;
    color: #333;
    background: #F4F4F4;
    border-top: 1px solid #7C7C7C;
    border-right: 1px solid #7C7C7C;
    border-bottom: 1px solid #9C9C9C;
}

div.menu {
    clear: both;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    border-left: 1px solid #7C7C7C;
}

a {
    margin: 1 em 0;
    float: left;
    clear: left;
}

a.boton {
    text-decoration: none;
    background: #EEE;
    color: #222;
    border: 1px outset #CCC;
    padding: .1em .5em;
}

a.boton:hover {
    background: #CCB;
}

a.boton:active {
    border: 1px inset #000;
}

img {
    width: 30%;
    height: 30%;
}

/*Contenedor*/

.container {
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
}

/*Zona izquierda*/

.zonaizq {
    flex-grow: 2;
    flex-basis: 0;
}


ul {
    list-style-image: url(/src/imagenes/SMR/estrellaICO.png);
}

.sec1{
    width: auto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-start;
}
.sec1 img {
    height: auto;
    float: right;
}

.sec2 {
    padding: .1em;
    margin: .5em;
}

.img img {
    width: 250px;
    height: 250px;
}

/*Zona centro*/
.zonacentral {
    padding: .5em;
    margin: 1em;

    width: 200px;
    height: 200px;

    float: left;

    flex-grow: 1;
}

.sec3 {
    padding: .2em;
    margin: .3em;
}

.sec4 {
    padding: .2em;
    margin: .3em;
}

/*Zona derecha*/
.zonaderecha {
    padding: .5em;
    margin: 1em;

    width: 200px;
    height: 200px;

    float: left;

    flex-grow: 1;
    flex-basis: 0;
}

.sec5 {
    padding: .2em;
    margin: .3em;
}

.sec6 {
    padding: .2em;
    margin: .3em;
}
