body{
    background-color: #2F2F2F;
    margin:0;
}

.header h1{
    background-color: #191919;
    color: aliceblue;
    padding: 10px;
    width: auto;
    margin: 0;
    text-align: center;
}

.navigation nav ul {
    background-color: #1F1F1F;
    padding: 10px;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
}

.practicas li{
    padding: .5em;
    background-color: #171717;
    color: aliceblue;
    list-style: none;
    margin: 10px;
}

.ejercicios{
    color: aliceblue;
    display: grid;
    margin-top: 0;
}

/*Propiedades de las listas de ejercicios*/
.lista_smr, .lista_asir, .lista_dam{
    margin: 10px;
    margin-top: 0;
    width: 90%;
    background-color: #191919;
}

/*Listado de ejercicios de SMR*/
.lista_smr{
    grid-column: 1;
    grid-row: 1;
}

.lista_smr ul li, .lista_asir ul li, .lista_dam ul li{
    list-style: none;
    margin: 10px 0 10px 0;
}

.lista_smr ul li a{
    list-style: none;
    color: aliceblue;
    text-decoration: none;
}

/*Listado de ejercicios de ASIR*/
.lista_asir{
    grid-column: 2;
    grid-row: 1;
}

/*Listado de ejercicios de DAM*/
.lista_dam{
    grid-column: 3;
    grid-row: 1;
}